.photo {
        text-align: center;
        width: 450px;
        height: 600px;
        border-radius: 50px 50px 50px 50px;
        border-color: black;
        /*background-color: orange;*/
        background-image: url("photoofme.jpg");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        margin-top: 75px;
        margin-bottom: 45px;
        display: inline-block;

}

.total {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url("http://sirismm.si.edu/sackler/photo/Parker-Photographs-of-Islamic-Monuments-A2002.6.004.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.name {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 30px;
  width: 1250px;
  display: inline-block;
}

.backgroundimage {
    height: 1130px;
    background-image: url(http://sirismm.si.edu/sackler/photo/Parker-Photographs-of-Islamic-Monuments-A2002.6.004.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#mail {
  color: white;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 35px;
  font-style: normal;
}
