/*
# Name: Mirja Lagerwaard
# Student number: 10363149
*/

/*Style for page layout*/
.orangebar {
  height: 30px;
  background-color: #ff7f50;
  color: #404040;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

.image {
  height: 1130px;
  background-image: url(http://sirismm.si.edu/sackler/photo/Parker-Photographs-of-Islamic-Monuments-A2002.6.004.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.menubuttons {
  text-align: center;
  background-color: #404040;
}

.whole {
  text-align: center;
}

div.transbox {
  background-color: #333333;
  opacity: 0.9;
  position: relative;
  top: 25%;
  border: 5px solid #333333;
}


.syrianarchiveinfo {
  width: 35%;
  position: absolute;
  margin-left: 10%;
  margin-top: 50px;
  text-align: justify;
  height: 1150px;
}

.visualisationinfo {
  width: 35%;
  height: 1050px;
  position: absolute;
  right: 0;
  margin-right: 10%;
  margin-top: 50px;
  text-align: justify;
  height: 1150px;
}

/*Style for menubar*/
#home,
#visualisation,
#aboutme,
#gotosyrianarchive {
   background-color: #404040;
   border: none;
   padding: 15px 75px;
   text-align: center;
   height: 60px;

   color: white;
   font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
   font-size: 17px;
   font-variant: small-caps;
   font-weight: 700;
}

#home:hover,
#visualisation:hover,
#aboutme:hover,
#gotosyrianarchive:hover {
     background-color: #ff7f50;
}

/*Style for text*/
#title {
  color: white;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	font-size: 100px;
	font-variant: small-caps;
  font-weight: bold;
}

#h1white {
  color: white;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 50px;
  font-variant: small-caps;
  font-weight: 700;
}

#h2white {
  color: white;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 35px;
  font-variant: small-caps;
  font-weight: 700;
}

#h3white {
  color: white;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 30px;
}

#h1grey {
  color: #404040;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 50px;
  font-variant: small-caps;
  font-weight: 700;
}

#h2grey {
  color: #404040;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 35px;
  font-variant: small-caps;
  font-weight: 700;
}

#h3grey {
   color: #404040;
   font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
   font-size: 30px;
}

#h4grey {
   color: #404040;
   font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
   font-size: 28px;
   font-variant: small-caps;
   font-weight: bold;
}

#h5grey {
  color: #404040;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 28px;
  font-variant: small-caps;
}

p {
    margin: 2%;
    text-align: center;
}
