/*
# Name: Mirja Lagerwaard
# Student number: 10363149
*/

/*Style for the timeline buttons*/
.timebuttons {
  text-align: center;
  width: 1850px;
  margin-top: 20px;
 }

.horizontal {
  display: inline-block;
  width: 50px;
}

 #data2012,
 #data2013,
 #data2014,
 #data2015,
 #data2016 {
  background-color: #404040;
  border: none;
  padding: 15px 75px;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  color: white;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: 700;
 }

 #data2012:hover,
 #data2013:hover,
 #data2014:hover,
 #data2015:hover,
 #data2016:hover,
 #data2012:disabled,
 #data2013:disabled,
 #data2014:disabled,
 #data2015:disabled,
 #data2016:disabled {
   background-color: #ff7f50;
 }

/*Style for page layout*/
.merge {
   margin: 0 auto;
   width: 1850px;
   background-color: rgba(33,33,33,0.9);
   border: 1px solid #404040;
 }

.totaldiv {
  text-align: center;
  background-image: url("http://sirismm.si.edu/sackler/photo/Parker-Photographs-of-Islamic-Monuments-A2002.6.004.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
 }

.totalinfo {
   text-align: center;
   margin-bottom: 50px;
 }

.walkthrough,
.timelineinfo {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

.calendarinfo,
.mapinfo,
.barchartinfo {
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
  position: relative;
  display: inline-table;
}

.calendarinfo,
.barchartinfo {
  width: 15%;
}

.mapinfo {
  width: 25%;
}

.visualisationtitle {
  height: 75px;
  margin-top: 30px;
}

.totalnotshown {
  text-align: center;
  margin: 0 auto;
}

.notshown {
  text-align: justify;
  width: 400px;
  display: inline-block;
}

/*Style for the calendar heatmap*/
.calender-map {
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  color: white;
  font-size: 11px;
  font-variant: small-caps;
  shape-rendering: crispEdges;
  width: 1950px;
  height: 225px;
}

.day {
  stroke: #404040;
  stroke-width: 1px;
}

.month {
  fill: none;
  stroke: #404040;
  stroke-width: 3px;
}

/*Style for map*/
.aroundmap {
  width: 1850px;
  text-align: center;
}

.map {
  width: 1600px;
  height: 585px;
  display: inline-block;
}
.syriamap,
.syriamap svg {
  position: absolute;
}

.zoombuttons {
  text-align: center;
}

#zoomaleppo,
#zoomhoms,
#zoomdamascus,
#zoomout {
  background-color: #404040;
  border: none;
  padding: 15px 75px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  color: white;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 21px;
  font-variant: small-caps;
  font-weight: 700;
}

#zoomaleppo:hover,
#zoomhoms:hover,
#zoomdamascus:hover,
#zoomout:hover,
#zoomaleppo:disabled,
#zoomhoms:disabled,
#zoomdamascus:disabled,
#zoomout:disabled {
    background-color: #ff7f50;
}

/*Style for the tooltip of the map*/
.tooltip {
  position: absolute;
  padding: 12px;
  background: #404040;
  color: #ff7f50;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  border-radius: 2px;
  pointer-events: none;
  font-size: 20px;
 }

/*Style for barchart*/
.chart rect {
  fill: #595959;
}

.chart text {
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  fill: white;
  font-size: 23px;
  font-variant: small-caps;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
}

.axis text {
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	font-size: 23px;
	font-variant: small-caps;
  color: white;
}

/*Style for page layout barchart and table*/
.aroundbarchart {
  width: 1850px;
  text-align: center;
  margin-bottom: 40px;
}

.barchart {
  display: inline-block;
}

.abbreviation {
  display: inline-block;
  height: 600px;
  border: 3px solid #ff7f50;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  text-align: center;
  color: white;
}

/*Style for the table*/
table {
  border-collapse: collapse;
  width: 750px;
}

/*Style for table rows*/
tr {
 height: 60px;
 text-align: center;
 color: white;
 font-size: 26px;
}

/*Style for table header*/
th {
  background-color: #ff7f50;
  text-align: center;
  font-size: 24px;
}

/*Style for the tooltip of the barchart and calendar view*/
.d3-tip {
  line-height: 1;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	font-size: 22px;
  padding: 12px;
  background: #404040;
  border-radius: 2px;
}
